<nav class="mb-2 navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">dbnschool</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <form class="d-flex me-auto">
            <input class="border-0 form-control me-2" type="search" placeholder="Rechercher" aria-label="Search">
        </form>
        <ul class="navbar-nav my-2 my-lg-0" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'courses' %}">Cours</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Projets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Blog</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-warning  bold nav-link" aria-current="page" href="#">S'abonner</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'register_attempt' %}">S'enregistrer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'login_attempt' %}">Se connecter</a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>